<div class="row">
  <div class="col-sm-9">
    <canvas id="board" width="500" height="500" ng-mousemove="updateCurrentLocation($event)" ng-click="addPoint($event)">
    </canvas>
  </div>
  <div class="col-sm-3">
    <button class="btn btn-danger btn-block" type="button" ng-click="clearBoard()">Clear</button>
    <table class="table">
      <tr>
        <th></th>
        <th class="text-center">Coordinates</th>
      </tr>
      <tr ng-repeat="point in points">
        <td>{{$index + 1}}</td>
        <td class="text-center">[{{point.x}},{{point.y}}]</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-9 text-center">
    <small> x: {{currentX}} y: {{currentY}}</small>
  </div>
  <div class="col-sm-3">
    <h2>Total area: {{totalArea}} px <sup>2</sup></h2>
  </div>
</div>
